<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/public/css/css2.css' />
</head>

<body>
    <div class="header">
        <div class="container">
            <ul class="nav">
                <li> <a href="/home">About</a> </li>
                <li><a href="#team">Team</a></li>
                <li> <a href="#contact">Contact</a></li>
                <li><a href="/logout" >Logout</a> </li>
            </ul>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <div class="main">
                <h1>We are CONNECT VALUE ENTERPRISE <br>feel free to access our world</h1>
                
            </div>
        </div>
    </div>
    <div class="supporting">
        <div class="container">
        
            <div class="col">
                <img src="/public/WhatsApp Image 2022-12-10 at 7.02.11 PM.jpeg">
                {{msg}}
                <h2>Design</h2>
                <p>Make your projects look great, interactive, beautifully by contacting us.</p>
                <a href="#" class="btn-default">Learn More</a>
                
            </div>
           
         <section id="team">

           <P>ENEMALI SOLOMON <br>Web developer</a></P>
            
            <div class="container">
                <div class="d-flex">
                    <div class="card">
                        <div class="card-img">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="/public/cover.jpg"
                                        alt="">
                                </div>
                                <div class="flip-card-back">
                                    <img src="https://media.giphy.com/media/l4KibWpBGWchSqCRy/giphy.gif" alt="">
                                    <P>I started programming from learning html5, then I went a little lower to CSS, then I went up to node js, etc. In my
                                    limited knowledge about web dev, front end involved html, css, JavaScript etc. and html and css are markup languages,
                                    which may be the reason you don't feel much programming in front end. I think diving into back end structures and start
                                    implementing codes on your will definitely make you feel like doing programming,the clip above describe my first expression about web development, i thought it eas a jump over not untill i decided to give a try under the supervision of HIIT Abuja, int was fun...
                                     </P>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3>mr steve</h3>
                            <small>senior developer</small>
                            <h4>instructor</h4>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="/public/steve.png"
                                        alt="mr stev image">
                                </div>
                                <div class="flip-card-back">
                                    <img src="https://media4.giphy.com/media/l3vR5Sghh85EBCnhC/giphy.gif?cid=ecf05e4786trkpqmnl0q080j0qcgt9dtxdvmr1x8fkvhjljd&rid=giphy.gif&ct=g"
                                        alt="">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <small><h3>Noibi</h3><br> Backend developer</small>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="/public/noibi.jpeg"
                                        alt="">
                                </div>
                                <div class="flip-card-back">
                                    <p>emmanuel tech bro</p>
                                    <img src="/public/emmanuel.png"
                                        alt="">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <small>web developer</small>
                        </div>
                    </div>
                </div>
            </div> 
         </section>


        </div>
        <div class="clearfix"></div>
    </div>
    

    <!DOCTYPE html>
    <html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8eccd030b7.js" crossorigin="anonymous"></script>
    
    
    <section id="contact">
<section id="contact">
    <h1 class="section-header">Contact</h1>
    <div class="contact-wrapper">
        <!-- Left contact page -->
        <form id="contact-form" class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value=""
                        required>
                </div>
            </div>
            <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message" required></textarea>
            <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
                <div class="alt-send-button">
                    <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
                </div>
            </button>
        </form>
        <!-- Left contact page -->
        <div class="direct-contact-container">
            <ul class="contact-list">
                
                <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a
                                href="tel:1-212-555-5555" title="Give me a call">+234 0813 3644 4247</a></span></i></li>
                <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a
                                href="mailto:#" title="Send me an email">connectvalue247@gmail.com</a></span></i></li>
            </ul>
            <hr>
            <ul class="social-media-list">
                <li><a href="//https:github.com/Enemali24" target="_blank" class="contact-icon">
                        <i class="fa fa-github" aria-hidden="true"></i></a>
                </li>
                
                
                <li><a href="#" target="_blank" class="contact-icon">
                        <i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
            </ul>
            <hr>
            <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED
                <div class="footer">
                    <div class="container">
                        <p>&copy; Connect value 2022/p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
    </section>
    
<script src="/public/js/tem.js"></script>

</body>

</html>